#{extends 'main.html' /}

#{set title:'Librareome' /}
#{set 'favicon'}@{'/public/img/favicon.png'}#{/set}

#{navigation /}

<div class="container">
	<div class="row">
		<table class="table span12">
			<thead>
				<tr>
					<th>Title</th>
					<th>Progress</th>
					<th><a href="@{Application.upload}" class="pull-right" title="Add to library"><i class="icon-plus"></i></a></th>
				</tr
			</thead>
			<tbody>
				#{list items:models.Document.findAll(), as:'document'}
					<tr>
				   		<td><a href="@{Application.read(document.id)}">${document.title}</a></td>
				   		<td style="text-align: center;">${document.latest} / ${document.pages}</td>
				   		<td><a href="@{Application.delete(document.id)}" class="pull-right" title="Remove from library"><i class="icon-trash"></i></a>
				   			<a href="@{Application.document(document.id)}" class="pull-right" title="Download"><i class="icon-download-alt"></i></a></td>
					</tr>
				#{/list}
			</tbody>
		</table>
	</div>
</div>
