#{extends 'main.html' /}

#{set 'title'}${doc.title}#{/set}
#{set 'favicon'}@{'/public/img/book-open.png'}#{/set}

<div class="container">
<div id="navigation" class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
		
		<ul class="nav">
			<li><a href="@{Application.index}" title="Home"><i class="icon-home"></i></a></li>
			<li class="divider-vertical"></li>
			<li><a href="@{Application.document(doc.id)}" title="Download this document as a PDF"><i class="icon-download-alt"></i></a></li>
		</ul>
		
		<ul class="nav pull-right">
			<li><a href="#" onclick="zoomOut()" title="Zoom out"><i class="icon-zoom-out"></i></a></li>
			<li><a href="#" onclick="zoomIn()" title = "Zoom in"><i class="icon-zoom-in"></i></a></li>
			<li class="divider-vertical"></li>
			<li><a href="#" onclick="goPrevious()" title="Previous page"><i class="icon-chevron-left"></i></a></li>
			<li><a href="#" onclick="goNext()" title = "Next page"><i class="icon-chevron-right"></i></a></li>
		</ul>
		
		</div>
	</div>
</div>
</div>

<div class="clearfix" style="height: 42px;"></div>

<div id="pdf-loading" class="container">
	<div class="row">
		<div class="span12" style="text-align: center; margin-top: 200px;">
			<img src="@{'/public/img/ajax-loader.gif'}" />
			<h5>Loading</h5>
		</div>
	</div>
</div>

<div id="pdf-container" style="display: none;">
	<canvas id="pdf-canvas"></canvas>
</div>

<div id="pdf-footer" class="container" style="display: none;">
	<div class="row">
		<div class="span5">
		</div>
		<div class="span2" style="text-align: center;">
			<span style="font-size: 10px;">page <span id="page-num"></span> of <span id="page-count"></span></span>
		</div>
		<div class="span5">
		</div>
	</div>
</div>

<div class="spacer10"></div>

<script type="text/javascript">
	var PDF_URL   = "@{Application.document(doc.id)}",
		PDF_ID    = ${doc.id},
		INIT_PAGE = ${doc.latest};
</script>

<script src="@{'/public/js/vendor/pdf.js'}"></script>
<script src="@{'/public/js/read.js'}"></script>