#{extends 'main.html' /}
#{set title:'Home' /}

#{navigation /}

<div class="container">
	<div class="row">
		<form class="form-horizontal" method="POST" action="@{Application.process}" enctype="multipart/form-data">		
			<div class="control-group">
				<div class="controls"><h3>Add to Your Library</h3></div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="doc.title">Title:</label>
				<div class="controls">
					<input type="text" class="input-xxlarge" id="title" name="doc.title" placeholder="Title" autofocus>
				</div>
			</div>

			<div class="control-group">
				<hr>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="doc.pdf">File:</label>
				<div class="controls">				
					<input style="display:none;" type="file" id="pdf" name="doc.pdf" accept="application/pdf">
					<div class="input-append">
						<input type="text" id="pdf-filename" class="input-xxlarge">
						<a class="btn" onclick="$('#pdf').click()">Choose</a>
					</div>
				</div>
			</div>
			
			<div class="control-group">
				<div class="controls"><h5>Or</h5></div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="url">URL:</label>
				<div class="controls">
					<input type="text" class="input-xxlarge" id="url" name="url">
				</div>
			</div>
			
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn btn-large btn-primary">Add to Library</button>
				</div>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
	$('#pdf').change(function () {
		var path = $(this).val().replace(/\\/g, '/'),
			last = path.lastIndexOf('/'),
			name = path.slice(last + 1);
		
		$('#pdf-filename').val(name);
	});
</script>